* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Finlandica;
  margin: 0;
  padding: 0;
  background: #D7D9CE;
  font: 16px Finlandica, Arial, Verdana;
  margin-top: 100px;
}

.btn-botao {
  display: inline-block;
  padding: 10px 20px;
  color: #D7D9CE;
  background-color: #EE8E40;
  border: none;
  border-radius: 10px;
  text-align: center;
  transition: background-color 0.3s;
  text-decoration: none;
}

.btn-botao:hover {
  background-color: #F65525;
  text-decoration: none;
}

.price-and-button {
  background-color: #001514;
  color: #D7D9CE;
  font-size: 16px;
  border-radius: 10px;
}

.preco {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.preco .price {
  font-size: 16px;
  font-weight: bold;
  color: #D7D9CE;
  background-color: #001514;
}

nav.spotlight-nav {
  background-color: #001514;
  padding: 10px;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
}
nav.spotlight-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
nav.spotlight-nav li {
  margin-right: 20px;
}
nav.spotlight-nav li:last-child {
  margin-right: 0;
}
nav.spotlight-nav a {
  color: #D7D9CE;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}
nav.spotlight-nav a:hover {
  background-color: #D7D9CE;
  color: #57DEC0;
}

.video-loop-container {
  width: 100%;
  height: auto;
  padding: 0rem;
}

.video-loop {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: auto;
  overflow: hidden;
}
.carousel img {
  width: 100%;
  height: auto;
}

.erro {
  position: center;
}
.erro img {
  width: 70%;
  height: auto;
}

.card {
  width: 100%;
  height: auto;
  margin: 15px;
  display: grid;
  flex-direction: column;
}

.container {
  width: 1000px;
  margin: 30px auto;
}

.header {
  background: #001514;
  box-shadow: 0 0 10px #000;
  width: 100%;
  position: fixed;
  padding: 10px;
  box-sizing: border-box;
  z-index: 9;
  top: 0;
}
.header .header-logo {
  float: left;
}
.header .header-logo img {
  width: 120px;
}
.header .header-menu {
  float: right;
  border: 1px solid #D7D9CE;
  background: #CCC;
  padding: 5px;
  border-radius: 10px;
}
.header .header-menu img {
  width: 35px;
}
.header .header-nav {
  width: 100%;
  display: none;
}
.header .header-nav ul {
  list-style: none;
}
.header .header-nav ul li {
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #57DEC0;
  font-size: 20px;
}
.header .header-nav ul li a {
  color: #D7D9CE;
  text-decoration: none;
}
.header .header-logo img {
  width: 300px;
  height: auto;
}
.header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}
.header nav ul li a {
  color: #D7D9CE;
  text-decoration: none;
  font-weight: bold;
}
.header nav ul li a:hover {
  color: #57DEC0;
}

main {
  padding: 0rem;
  text-align: center;
  margin-bottom: 60px;
}

.show {
  display: inline-block !important;
}

.about-dev {
  text-align: center;
}

.footer {
  background: #001514;
  color: #D7D9CE;
  text-align: center;
  padding: 15px;
  box-sizing: border-box;
  box-shadow: 0 0 10px #000;
  list-style: none;
  width: 100%;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
}

@media (min-width: 480px) and (max-width: 1920px) {
  .header .header-menu {
    display: none !important;
  }
  .header .header-nav {
    width: auto;
    display: block;
    float: right;
  }
  .header .header-nav ul li {
    display: inline-block;
    border: 0;
    padding: 20px;
  }
  .header .header-nav ul li a:hover {
    color: #D7D9CE;
  }
}

/*# sourceMappingURL=style.css.map */
